<h1><%= @page_title %></h1>
<p>This is the about page.</p>
<div class="well">
	<h3>Where We Are Located</h3>
	<address>Happyville Books<br>111 Honeybee Lane</br>Beverley Hills, CA 90210</address>
	<phone>Phone: (555) 555-5555</phone>
	<br>
	<email>Email: support@happyvillebooks.org</email>
</div>
